doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
    meta(http-equiv='refresh', content="0;URL='#{ config.url + config.root + '#' + page.path }'")
    title= page.title
  body
    div(style='display: none')
      header
        h3= page.title
        time(datetime=page.date.format('YYYY-MM-DDTHH:mm:ss')) Published #{ page.date.format("dddd, MMMM DD, YYYY") }
      .content
        if page.comic
          .comic: img(alt=page.title, src=page.comic)
        if page.video
          .comic: .video-wrapper
            - var classes = ['js-video', page.video.type];
            - var vidw = page.video.widescreen ? 560 : 420;
            - var vidh = 315;
            - if(page.video.type == 'vimeo') { vidw = page.video.widescreen ? 500 : 375; vidh = 281; }
            - if(page.video.widescreen) { classes.push('widescreen'); }
            - var vidurl = page.video.type == 'youtube' ? 'http://www.youtube.com/embed/' + page.video.id : 'http://player.vimeo.com/video/' + page.video.id;
            div(class=classes.join(' '))
              iframe(src=vidurl, width=vidw, height=vidh, frameborder=0, webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

        != page.content

      if page.comments
        .comments http://#{ theme.issohost }/#{ theme.issoname }js/embed.min.js

    if theme.piwikhost
      script.
        var _paq = _paq || [];
        _paq.push(["trackPageView"]);
        _paq.push(["enableLinkTracking"]);

        (function() {
          var u=(("https:" == document.location.protocol) ? "https" : "http") + "://#{ theme.piwikhost }/";
          _paq.push(["setTrackerUrl", u+"piwik.php"]);
          _paq.push(["setSiteId", "#{ theme.piwikid }"]);
          var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
          g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
        })();
